a) Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx

b) e coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

d) Visualize as últimas linhas;

e) Escreva um programa para renomear o cabeçalho da tabela com os

f) seguintes nomes:

![Alt text](image.png)

In [7]:
# importar a biblioteca

import pandas as pd

caminho = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\003 - Arquivos\\'
arquivo = 'Imobiliária.xlsx'

df = pd.read_excel(caminho+arquivo, sheet_name = 'Base')

df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

In [58]:
df.columns = ['Filial','Vendedor','data','tipo','Area(m²)'
            ,'Dorms.','Garag.','Piscina','Preço','comissão']

In [10]:
df.head()

,Filial,Vendedor,data,tipo,Area(m²),Dorms.,Gatag,Piscina,Preço,comissão
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   Area(m²)  1117 non-null   float64
 5   Dorms.    1117 non-null   int64
 6   Gatag     1117 non-null   int64
 7   Piscina   1117 non-null   object
 8   Preço     1117 non-null   int64
 9   comissão  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [16]:
print ('O valor total é: ',df['Preço'].sum())
print ('A média dos valores é: ',df['Preço'].mean())
print ('o Maior valor é: ',df['Preço'].max())
print ('O menor valor é: ',df['Preço'].min())
print ('a contagem é: ',df['Preço'].count())

O valor total é:  295035000
A média dos valores é:  264131.6025067144
o Maior valor é:  384300
O menor valor é:  145100
a contagem é:  1117

j) 8. Crie um programa para criar um dataframe para mostrar as vendas por
k) região, e salvar um arquivo em Excel para cada região.
▪ Centro
▪ Noroeste
▪ Norte
▪ Sudeste
▪ Oeste
▪ Leste
▪ Sudoeste
▪ Sul
▪ Nordeste

In [24]:
# Filtrar um DataFrame

df_norte = df[df['Filial'] == 'Norte']
#Diretorio que deseja salvar
pasta_destino = 'C:\\Users\FIC\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'
#Colocar o nome do Arquivo

nome_arquivo = 'Norte.xlsx'
#Salvando o Arquivo

df_norte.to_excel(pasta_destino+nome_arquivo)

In [25]:
#Filtando dataframe - Centro

df_centro = df[df['Filial'] == 'Centro']

pasta_destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

nome_arquivo = 'Centro.xlsx'

df_centro.to_excel(pasta_destino + nome_arquivo)

In [27]:
#Filtrando dataframe = Noroeste

df_noroeste = df[df['Filial'] == 'Noroeste']

pasta_destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

nome_arquivo = 'Noroeste.xlsx'

df_noroeste.to_excel(pasta_destino + nome_arquivo)

In [28]:
#Filtrando dataframe = Sudeste

df_sudeste = df[df['Filial']== 'Sudeste']

pasta_destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

nome_arquivo = 'Sudeste.xlsx'

df_sudeste.to_excel(pasta_destino + nome_arquivo)

In [30]:
#Filtrando dataframe = Oeste

df_oeste = df[df['Filial']== 'Oeste']

pasta_destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

nome_arquivo = 'Oeste.xlsx'

df_oeste.to_excel(pasta_destino + nome_arquivo)

In [31]:
#filtrando datafrena - Leste

df_leste = df[df['Filial']=='Leste']

destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

arquivo = 'Leste.xlsx'

df_leste.to_excel(destino + arquivo)

In [33]:
#filtrando dataframe - Sudoeste

df_sudoeste = df[df['Filial'] == 'Sudoeste']

destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'

arquivo = 'Leste.xlsx'


arquivo = 'Sudoeste.xlsx'

df_sudoeste.to_excel(destino + arquivo)

In [34]:
# filtrando dataframe - Sul 

df_sul = df[df['Filial']== 'Sul']

destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'
arquivo = 'Sul.xlsx'

df_sul.to_excel(destino + arquivo)

In [35]:
#filtrando dataframe - Nordeste

df_nordeste = df[df['Filial'] == 'Nordeste']

destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'
arquivo = 'nordeste.xlsx'

df_nordeste.to_excel(destino + arquivo)

Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte
em 2010.

In [54]:
dados = df[(df['data'] >= '2010-01-01') & 
   (df['data'] <= '2010-12-31') & 
   (df['Filial'] == 'Norte')
   ]

# Nome do Arquivo

nome_arquivo = 'Norte_2010.xlsx'

# Salvar / Gerar um arquivo em excel
dados.to_excel(pasta_destino + nome_arquivo)

m) Gere um arquivo em Excel para representar as vendas efetuadas pela filial
Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas
sem garagem.

In [77]:
novo_planilha = df[(df['data'] >= '2010-01-01') & 
                 (df['data'] <= '2010-12-31') & 
                (df['Filial'] == 'Sudeste') & 
                (df['Garag.'] == 0) & (df['tipo'] == 'Casa')
]

arquivo = 'Filial Sudeste sem Garagem.xlsx'

novo_planilha.to_excel(pasta_destino + arquivo)

n) Qual o valor máximo de comissão que a imobiliária numa venda?

In [83]:



df[df['comissão'] == df['comissão'].max()]

,Filial,Vendedor,data,tipo,Area(m²),Dorms.,Garag.,Piscina,Preço,comissão
848,Sul,Adriana,2009-12-27,Apartamento,188.5,4,4,Sim,384300,5764.5

    o) Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [84]:
planilha_ricardo = df[(df['data'] < '2011-01-01') &
                      (df['Vendedor'] == 'Ricardo') &
                      (df['Dorms.'] > 1) & (df['Dorms.'] < 4) &
                      (df['tipo'] == 'casa')
                      ]

destino = 'C:\\Users\\FIC\\Documents\\Lucas Gomes Python\\Resultados Imobiliaria\\'
arquivo = 'Ricardo antes de 2011.xlsx'

planilha_ricardo.to_excel(destino + arquivo)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   Area(m²)  1117 non-null   float64
 5   Dorms.    1117 non-null   int64
 6   Garag.    1117 non-null   int64
 7   Piscina   1117 non-null   object
 8   Preço     1117 non-null   int64
 9   comissão  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB