## Estrutura de repetição FOR

In [1]:
frutas = ['Abacaxi','Laranja','Goiaba','Uva']

for fruta in frutas:
    print(fruta)

Abacaxi
Laranja
Goiaba
uva

## Exercicio 01
Crie uma estrutura de repetição para imprimir valores de 0 a 10

In [2]:
# Criando uma lista com valores de 0 a 10.

lista = [0,1,2,3,4,5,6,7,8,9,10]

for i in lista:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

# Exercicio 12 
Desenvolva um gerador de tabuada, capaz de gerar a tabuada de
qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja
ver a tabuada. A saída deve ser conforme o exemplo abaixo:

In [5]:
# criando a lista de 0 a 10.

lista = [0,1,2,3,4,5,6,7,8,9,10]

# para fazer a tabuado do 2, multiplicar lista por 2
for i in lista:
    tabuada_2 = i * 2
    print('a tabuada do 2: ',tabuada_2)

a tabuada do 2:  0
a tabuada do 2:  2
a tabuada do 2:  4
a tabuada do 2:  6
a tabuada do 2:  8
a tabuada do 2:  10
a tabuada do 2:  12
a tabuada do 2:  14
a tabuada do 2:  16
a tabuada do 2:  18
a tabuada do 2:  20

# Exercicio 12 
Desenvolva um gerador de tabuada, capaz de gerar a tabuada de
qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja
ver a tabuada. A saída deve ser conforme o exemplo abaixo:

In [13]:
multiplicadores = [1,2,3,4,5,6,7,8,9,10]

i = int(input('Digite o numero: '))
print(f'Tabuada do numero {i}:')

for num in multiplicadores:
    print(f'{i} x {num} = {num * i}')

Tabuada do numero 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

## Exercicio 06 
Faça um programa que imprima na tela os números de 1 a 20, um abaixo
do outro.

In [17]:
intervalo = range(1,21)

#exivir valores na vertical
for num in intervalo:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [36]:
#exibir valores na horizontal.
intervalo = range (1,21)
lista = [] #lista vazia

for num in intervalo:
    lista.append(num)

#colocar o print fora do comando do for
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## Exercicio 09
Faça um programa que imprima na tela apenas os números ímpares
entre 1 e 50.

In [29]:
intervalo = range(1,51)

for num in intervalo:

    if  num % 2 != 0:
     print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

## Exercicio 10
Faça um programa que receba dois números inteiros e gere os números
inteiros que estão no intervalo compreendido por eles.

In [41]:
# solicitar os valor inicial e final ao usuario 

valor_menor = int(input('Digite o valor inicial do intervalo: '))
valor_maior = int(input('Digite o valor final do intervalo: '))

#garantir que o numero inferior não seja maior que o superior

if valor_menor > valor_maior:
    valor_menor, valor_maior = valor_maior, valor_menor 
    
# Colocar isso dentro de uma lista
intervalo = range (valor_menor,valor_maior +1)
lista = []

# Mostrar os valores solicitado
for num in intervalo:
    lista.append(num)
print (lista)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

## Exercicio 07
Faça um programa que leia 5 números e informe o maior número.

In [44]:
# Solicitar ao usuario 5 valores 

num1 = int(input('Digite o primeiro valor: '))
num2 = int(input('Digite o segundo valor: '))
num3 = int(input('Digite o terceiro valor: '))
num4 = int(input('Digite o quarto valor: '))
num5 = int(input('Digite o quinto valor: '))

# Colocar numa lista

intervalo = (num1,num2,num3,num4,num5)
# verificar qual o maior valor 
for num in intervalo:
    print ('O maior valor é:' max(num))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3851420705.py, line 14)